body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
/* mav bar*/
nav{
    background-color: cornflowerblue;
    padding: 4% 0;
}
nav h2{
    text-align: center;
    color: white;
}
/* container */
#cont{
    background-color: rgba(182, 179, 179, 0.608);
    height: max-content;
    border-radius: 0 0 18px 18px;
    padding-top: 6%;
    padding-bottom:3%;
}

.ops{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 2%;
    margin-left: 4%
}
.ops-box{
    width: 70%;
    padding: 6%;
    background-color: white;
    text-align: center;
    border-radius: 22px;
}
.ops-check-box{
    width: 22%;
    background-color: cornflowerblue;
    margin-left: 5%;
    border-radius: 22px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:xx-large;
    color:white;
}
/* length of pass word */
.length-cont{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 2%;
    margin-left: 4%;
}
.length-ops{
    width: 58%;
    padding: 6%;
}
.length-check{
    width: 28%;
    margin-left: 0;
    border:none;
    text-align:center;
    font-size:large;
    color: white;
}
/* generate password btn */
#generate-btn-cont{
    display:flex;
    justify-content:center;
    margin-top:3%;
}
#generate{
    background-color: cornflowerblue;
    padding: 2% 2%;
    text-align: center;
    color: white;
    border:none;
    width:90%;
    margin:auto;
    border-radius: 15px;
    font-size: large;
}
/* show password */
#password-cont{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
#password{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 2%;
    border-radius: 15px;
}
/* copy btn */
#copy-cont{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
#copy{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 2% 4%;
    border-radius: 8px;
    border: none;
    font-size: large;
}
